{% extends "dashboard.html" %}
{% load staticfiles %}
{% load humanize %}

{% block data %}

        {% include "_messages.html" %}
        {% if form.errors %}
              <p>Your username and password didn't match, please try again.</p>
              <p>{{ form.errors }}</p>
                  {% endif %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

          <form class="form-signin" role="form" method="post">
              {% csrf_token %}
            <h2 class="form-signin-heading">Please sign in</h2>
            <input id="id_username" name="username" class="form-control" placeholder="Username" required autofocus>
            <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>
            <label class="checkbox">
              <input type="checkbox" value="remember-me"> Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
      </div>
  </div>


{% endblock data %}
