{% extends "dashboard.html" %}

{% block data %}
{% include "_messages.html" %}

<p>
    <!-- Set Tap Number Form -->
    <form method="POST" name="taplimit" action="{% url 'tap:count' %}">
        {% csrf_token %}
        <label>Number Of Taps:</label> &nbsp 
        <input type="text" name="numberOfTaps" class="smallbox" value="8"> 
        &nbsp 
        <input type="submit" name="updateNumberOfTaps" class="btn" 
                value="Update Number of Taps" />
    </form>
</p>
    <!-- End Tap Number Form -->

<hr />

{% for tap in object_list %}
<div class="media">
    <a class="pull-left" href="{% url 'tap:update' tap.number %}" alt="Update">
        <div class="media-object">
        <span class="tapcircle">
        {{ tap.number }}
        </span>
    </div>
  </a>
  <div class="media-body">
    <h4 class="media-heading">{{ tap.beer}}</h4>
    {{ tap.keg }}
  </div>
</div>
{% endfor %}

{% endblock data %}
