{% extends "dashboard.html" %}

{% block data %}
{% include "_messages.html" %}

<p>
    <!-- Set Tap Number Form -->
    <form method="POST" name="taplimit" action="{% url 'tap:count' %}">
        {% csrf_token %}
        <label>Number Of Taps:</label> &nbsp 
        <input type="text" name="numberOfTaps" class="smallbox" value="8"> 
        &nbsp 
        <input type="submit" name="updateNumberOfTaps" class="btn" 
                value="Update Number of Taps" />
    </form>
</p>
    <!-- End Tap Number Form -->

<hr />

{% for tap in object_list %}
<div class="media">
    <a class="pull-left" href="{% url 'tap:update' tap.number %}" alt="Update">
        <div class="media-object">
        <span class="tapcircle">
        {{ tap.number }}
        </span>
    </div>
  </a>
  <div class="media-body">
    <h3 class="media-heading inline-heading">{{ tap.beer}}</h3>
    {% if tap.keg %}
    {{ tap.keg.label }}: {{ tap.keg.kegtype }}
    {% endif %}
    {% if tap.beer %}
        <form method="POST" class="" name="tapchange" action="{% url 'tap:change' %}">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ tap.pk }}" />
            <input type="submit" name="closeTap" value="Kick Keg"
                    class="btn btn-primary" id="kick-keg" />
            <input type="submit" name="changeTap" value="Update Tap"
                    class="btn btn-primary" id="update-keg" />
        </form>
    {% else %}
        <form method="POST" class="" name="tapchange" action="{% url 'tap:change' %}">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ tap.pk }}" />
            <input type="submit" name="newKeg" value="Tap a Keg"
                    class="btn btn-primary" id="tap-keg" />
        </form>
    {% endif %}
  </div>
</div>
{% endfor %}

{% endblock data %}
