{% extends "dashboard.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block data %}
{% crispy form %}
<!--
<form action="" method="post">{% csrf_token %}
    <fieldset>
        {{ form.as_p }}
        <input type="submit" value="Update" class="btn btn-default"/>
        <a href="{% url 'tap:list' %}" class="btn btn-default">
            Cancel
        </a>
    </fieldset>
-->
{% endblock %}
{% block js %}
<script src="{% static 'js/beerjson.js' %}"></script>
<script src="{% static 'js/csrf.js' %}"></script>
{% endblock %}

