{% extends "dashboard.html" %}

{% block data %}
{% include "_messages.html" %}

<p>
    <!-- Set Tap Number Form -->
    <form method="POST" name="taplimit" action="{% url 'tap:count' %}">
        {% csrf_token %}
        <b>Number Of Taps:</b> &nbsp 
        <input type="text" name="numberOfTaps" class="smallbox" value="8"> 
        &nbsp 
        <input type="submit" name="updateNumberOfTaps" class="btn" 
                value="Update Number of Taps" />
    </form>
</p>
    <!-- End Tap Number Form -->

<table>
    <thead>
        <tr>
            <th>Tap #</th>
            <th>Beer</th>
            <th>Keg</th>
        </tr>
    </thead>
    <tbody>
        {% for tap in object_list %}
        <tr>
            <td>
                <a href="{% url 'tap:update' tap.number %}" alt="Update">
                {{ tap.number }}
                </a>
            </td>
            <td> {{ tap.beer }}</td>
            <td> {{ tap.keg.label }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock data %}
