body {
        background-image: url(/static/images/diagmonds.png);
        background-color: #000000;
        background-size: auto;
        background-repeat: repeat;
        /*
        overflow: hidden;
        */
        color: #FFFFFF;
        font: 1.5em Georgia, arial, verdana, sans-serif;
        margin:5px;
}

hr {
        border: 0;
        height: 1px;
        -webkit-margin-before: 2px;
        -webkit-margin-after: 2px;
        background-image: -webkit-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255));
        background-image:    -moz-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255));
        background-image:     -ms-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255));
        background-image:      -o-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255));
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.panel-body {
    background-color: #000;
    background-image: url(/static/images/diagmonds.png);
}

.brewery {
    text-align: left;
}

.pypints {
    text-align: right;
}

.taptitle {
    text-align: center;
}

form {
    color: #000;
}

form label {
    color: #fff;
}

span.tapcircle {
  background-color: rgba(153,153,153,.3);
  background-color: #1687A8;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  display: inline-block;
  font-weight: bold;
  font-size: 150%;
  line-height: 2em;
  margin-right: 5px;
  margin-bottom: 10px;
  text-align: center;
  width: 2em;
}

.tapcircle {
  color: #fff
  background-color: rgba(153,153,153,.3)!important;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5em;
  margin-right: 5px;
  text-align: center;
  width: 2em;
}

.tapcircle a:link, .tapcircle a:visited {
    color: #fff;
}

.tapcircle a:hover {
    text-decoration: none; 
    color: red;
}

span.gas {
    font-size: 75%;
    font-style: italic;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    margin-top: 5px;
    padding: 3px;
}

.nitrogen {
    color: #fff;
    background-color: #AE5000;
}

.nitrogen:before {
    content: "Nitro";
}

.cask {
    color: #000;
    background-color: #F8F000;
}

.cask:before {
    content: "Cask";
}

.co2 {
    display: none;
}

.beer {
    position: relative;
    /*
    background-image: url(/static/images/glassware/dimpled_mug_glass.jpg);
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));
    */
    background-color: #ccc;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#2F2727));
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    height: 200px;
    margin: 20px;
    text-align: center;
}

.glass {
}

.glass img {
    border: 2px solid black;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -khtml-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.keg {
    position: relative;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    height: 200px;
    margin: 20px;
    text-align: center;
}

.keg span.tapcircle {
    margin-top: 20px;
    margin-left: 5px;
}

.keg a:link, .keg a:visited {
    color: #fff;
}

.keg a:hover {
    text-decoration: none; 
    color: red;
}

.kegtype {
    margin-top: 40px;
}

.disabled {
    background: url(/static/images/prohibited.png) no-repeat 80% 0%;
    opacity:0.5;
    height: 100px;
    width: 100px;
    margin-bottom: -80px;
}

.True {
}

.serving {
    background-image: url(/static/images/keg/yellow.png);
}

.primary, .secondary, .tertiary, .dry_hopping, .conditioning {
    background-image: url(/static/images/keg/orange.png);
}

.clean {
    background-image: url(/static/images/keg/green.png);
}

.needs_cleaning, .needs_parts, .needs_repairs {
    background-image: url(/static/images/keg/red.png);
}

.altrow{
        background-color: rgba(153,153,153,.23);
}

.srm-container{
        position: relative;
        height: 100px;
        width: 55px;
        margin: 0 auto;
}

.srm-indicator{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;

        -webkit-mask-image: url(/static/images/srm/pint-mask.png);
        -o-mask-image: url(/static/images/srm/pint-mask.png);
        -moz-mask-image: url(/static/images/srm/pint-mask.png);
        mask-image: url(/static/images/srm/pint-mask.png);
}

.srm-stroke{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 2;

        background: url(/static/images/srm/pint-stroke.png)
}

.ibu-container{
        position: relative;
        height:100px;
        width:53px;
        margin: 0 auto;
}
.ibu-indicator{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: url(/static/images/ibu/stroke.png) no-repeat bottom left;
}
.ibu-indicator .ibu-full{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: url(/static/images/ibu/full.png) no-repeat bottom left;
}

.ibu-max{
        position: absolute;
        top: -5px;
        left: 35px;
}

.abv-container{
        position: relative;
        height: 100px;
        width: 115px;
        margin: 8px auto;
}
.abv-indicator{
        display: inline-block;
        position: relative;
        height:100%;
        width:50%;
        background: url(/static/images/abv/stroke.png) no-repeat bottom left;
}
.abv-indicator .abv-full{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: url(/static/images/abv/full.png) no-repeat bottom left;
}
.abv-offthechart{
        position: absolute;
        bottom: -2px;
        left: 8px;
        height: 55px;
        width: 114px;
        background: url(/static/images/abv/offthechart.png) no-repeat bottom left;
}

.keg-container{
        position: relative;
        height: 100px;
        width: 67px;
        margin: 8px auto;
}

.keg-indicator{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: url(/static/images/keg/stroke.png) no-repeat bottom left;
}
.keg-indicator .keg-full{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: url(/static/images/keg/full.png) no-repeat bottom left;
}
.keg-indicator .keg-empty{
        background-image: url(/static/images/keg/empty.png);
}
.keg-indicator .keg-red{
        background-image: url(/static/images/keg/red.png);
}
.keg-indicator .keg-orange{
        background-image: url(/static/images/keg/orange.png);
}
.keg-indicator .keg-yellow{
        background-image: url(/static/images/keg/yellow.png);
}
.keg-indicator .keg-green{
        background-image: url(/static/images/keg/green.png);
}

/*==========================================================================
 * TABLES
 * =======================================================================*/

table{
        width: 100%;
        border-collapse: collapse;
}
table th,
table td{
        border-left: 1px white dashed;
        padding: 1px 5px;
        text-align: center;
        vertical-align: top;
}
table th:first-child,
table td:first-child{
        border-left: none;
}

table thead{
        background-color: rgba(153,153,153,.3);
        padding: 0px;
        margin: auto;
}
table thead th{
        min-height:35px;
        font-size: .65em;
        font-weight: bold;
        vertical-align: top;
}
table .tap-num{
        width: 50px;
}
table .srm{
        width: 125px;
        text-align: center;
        vertical-align: middle;
}
table .ibu{
        width: 125px;
        text-align: center;
        vertical-align: middle;
}
table td.name{
        text-align: left;
        padding: 5px;
}
table .abv{
        width: 125px;
        text-align: center;
        vertical-align: middle;
}
table .keg{
        width: 150px;
        text-align: center;
        vertical-align: middle;
}

table td.tap-num{
        vertical-align: middle;
}

/* Error List */
ul.errorlist {
    background-color: #FFBABA;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #D8000C;
    color: #D8000C;
}

blockquote {
        margin: 0 10% 0 10%;
        color: #fff;
        border-left: none;
}
blockquote:before, blockquote:after {
        display: block;
        font-size: 500%;
        color: #fff;
}
blockquote:before {
        float:left;
        content: "\201C";
        margin-left: -8%;
        margin-top: -12px;
        height: 0;
}
blockquote:after {
        float:right;
        content: "\201D";
        margin-left: 100%;
        margin-top: -25px;
        margin-right: -8%;
        height: 25px;
    }

.blockquote-reverse {
    border-right: none;
}

.smallbox {
    border: 1px solid #999; 
    padding: 10px; 
    width: 60px; 
    -moz-border-radius: 3px; 
    border-radius: 3px; 
    margin-bottom: 5px; 
    color: #666; 
}

.noAsteriskField {
        display: none;
    }

.col-outline {
        outline: #fff solid 1px;
}
