<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'beers/images/favicon.ico' %}">
    <link rel="stylesheet" 
        href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <title>{% block title %}PyPints{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static 'beers/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'beers/css/style.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-3 brewery">
              <h2><a href="{% url 'dashboard' %}" title="Tap Dashboard">Scapegoats</a></h2>
          </div>
          <div class="col-md-6 taptitle">
            <h1>Currently on Tap</h1>
          </div>
          <div class="col-md-3 pypints">
              <h2><a href="http://www.pypints.com/" title="PyPints">PyPints</a></h2>
          </div>
      </div>
  </div>
  <div class="container-fluid">
  {% block content %}
  {% endblock %}
  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="{% static 'beers/js/bootstrap.min.js' %}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
