{% extends "dashboard.html" %}

{% block data %}
{% include "_messages.html" %}
<a href="{% url 'beer:create' %}" 
            class="btn btn-lg btn-default">Add a Beer</a>
<table>
    <thead>
        <tr>
            <th>Beer</th>
            <th>Style</th>
        </tr>
    </thead>
    <tbody>
        {% for beer in object_list %}
        <tr class="{% cycle '' 'altrow' %}">
            <td>
                <a href="{% url 'beer:detail' beer.slug %}" >
                    {{ beer }}
                </a>
            </td>
            <td>
                    {{ beer.style }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock data %}
