{% extends "dashboard.html" %}

{% block data %}
{% include "_messages.html" %}
<a href="{% url 'beer:create' %}" 
            class="btn btn-lg btn-default">Add a Beer</a>



<div class="container-fluid">
    <div class="row">
        {% for beer in object_list %}
        <div class="col-lg-4">
            <div class= "beer" >
                <div>
                    <a href="{% url 'beer:detail' beer.slug %}" >
                        <h3>{{ beer.name }}</h3>
                </a>
                </div>
                <div class="glass">
                    <a href="{% url 'beer:detail' beer.slug %}" >
                    <img src="/static/images/glassware/dimpled_mug_glass.jpg" />
                    </a>
                </div>
                <div class="{{ beer.active|yesno:",disabled" }}">
                </div>
                <div>
                    {{ beer.style }}
                </div>
            </div> <!-- beer -->
        </div><!-- col-lg-3 -->
        {% endfor %}
    </div> <!-- row -->
</div> <!-- container-fluid -->

{% endblock data %}
