{% extends "dashboard.html" %}

{% block data %}
{% include "_messages.html" %}
<a href="{% url 'beer:create' %}" 
            class="btn btn-lg btn-default">Add a Beer</a>



<div class="container-fluid">
    <div class="row">
        {% for beer in object_list %}
        <div class="col-lg-4">
            <div class= "beer" >
                <div>
                    <a href="{% url 'beer:detail' beer.slug %}" >
                        <h3>{{ beer.name }}</h3>
                </a>
                </div>
                <div class="glass">
                    <a href="{% url 'beer:detail' beer.slug %}" >
                        <svg id="mug" height="100" width="100" 
                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                          <image x="0" y="0" height="100" width="100"  xlink:href="/static/images/beer_mug.svg" />
                        </svg>
                    </a>
                </div>
                <div class="{{ beer.active|yesno:",disabled" }}" alt="This beer isn't active?">
                </div>
                <div>
                    {{ beer.style }}
                </div>
            </div> <!-- beer -->
        </div><!-- col-lg-3 -->
        {% endfor %}
    </div> <!-- row -->
</div> <!-- container-fluid -->


{% endblock data %}
