{% extends "beers/base.html" %}
{% load staticfiles %}

{% block content %}
<table>
    <thead>
        <tr>
            <th class="tap-num">Tap<br/>#</th>
            <th>Gravity<hr />Color</th>
            <th>Balance<hr />Bitterness</th>
            <th>Beer Name & Style<hr />Tasting Notes</th>
            <th>Calories<hr />Alcohol</th>
        </tr>
    </thead>
    <tbody>
    {% for tap in taps %}
    <tr class="{% cycle 'altrow' '' %}">
        <td class="tap-num">
            <span class="tapcircle">{{ tap.number }}</span>
        </td>
        <td class="srm">
            <h4>{{ tap.ogAct }} OG</h4>
             <div class="srm-container">
                 <div class="srm-indicator"
                     style="background-color: rgb({{ tap.srmrgb }})">
                 </div>
                 <div class="srm-stroke"></div>
             </div>
             <h4> {{ tap.srmAct }} SRM</h4>
        </td>
        <td class="ibu">
            <h4>BU:GU</h4>
            <div class="ibu-container">
                <div class="ibu-indicator">
                    <div class="ibu-full" style="height:{% if tap.ibuAct > 100 %} 100{% else %} {{ tap.ibuAct }}{% endif %}%">
                    </div>
                </div>
            </div>

            <h4>{{ tap.ibuAct }} IBU</h4>
        </td>
        <td class="name">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                         <img src="{% static 'beers/images/NewBelgiumLogo.jpg' %}" class="img-responsive" alt="full keg">
                    </div>
                    <div class="col-md-9">
                        <h1>{{ tap.beer }}<h1>
                        <h4 class="subhead">{{ tap.beer.style }}</h4>
                    </div>
                   <!-- 
                </div>
                <div class="row">
                    <div class="col-md-12">
                    -->
                        <h3 class="subhead">{{ tap.beer.notes }}</h3>
                    </div>
                </div>
            </div>
        </td>
        <td class="abv">
            {{ tap.keg }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
