{% extends "beers/config.html" %}

{% block data %}
<table>
    <thead>
        <tr>
            <th colspan="2">{{ beer.name }}</th>
            <th>
                {% if beer.active %}
                Active
                {% else %}
                InActive
                {% endif %}
                <a href="{% url 'beer_update' beer.id %}">Edit</a>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td> {{ beer.style.name }} </td>
        <td colspan="2">{{ beer.style.catNum }} &mdash; {{ beer.style.category }} </td>
    </tr>
    <tr>
        <td colspan="3">{{ beer.notes }} </td>
    </tr>
    <tr>
        <th>Original Gravity</th>
        <td> {{ beer.ogEst }}</td>
        <td> ({{ beer.style.ogMin }} - {{ beer.style.ogMax }})</td>
    </tr>
    <tr>
        <th>Final Gravity</th>
        <td> {{ beer.fgEst }}</td>
        <td> ({{ beer.style.fgMin }} - {{ beer.style.fgMax }})</td>
    </tr>
    <tr>
        <th>SRM</th>
        <td> {{ beer.srmEst }}</td>
        <td> ({{ beer.style.srmMin }} - {{ beer.style.srmMax }})</td>
    </tr>
    <tr>
        <th>IBUs</th>
        <td> {{ beer.ibuEst }}</td>
        <td> ({{ beer.style.ibuMin }} - {{ beer.style.ibuMax }})</td>
    </tr>
    </tbody>
</table>

{% endblock %}
