{% extends "dashboard.html" %}

{% block data %}
{% include "_messages.html" %}
<a href="{% url 'keg_create' %}"
            class="btn btn-lg btn-default">Add a Keg</a>
<table>
    <thead>
        <tr>
            <th>Keg</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for keg in object_list %}
        <tr class="{% cycle '' 'altrow' %}">
            <td>
                <a href="{% url 'keg_detail' keg.id %}" >
                    {{ keg.label }}
                </a>
            </td>
            <td>
                <a href="{% url 'keg_detail' keg.id %}" >
                    {{ keg.kegtype }}
                </a>
            </td>
            <td>
                    {{ keg.kegstatus }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock data %}
