{% extends "dashboard.html" %}

{% block data %}
{% include "_messages.html" %}
<a href="{% url 'keg:create' %}"
            class="btn btn-lg btn-default">Add a Keg</a>
<div class="container-fluid">
    <div class="row">
        {% for keg in object_list %}
        <div class="col-lg-4" >
            <div class="keg"> 
            <a href="{% url 'keg:detail' keg.id %}" >
                <img height="160" width="120"  src="/static/images/pony_keg.svg" />
                <span class="tapcircle">
                        {{ keg.label }}
                </span>
            </a>
            <div class="{{ keg.active|yesno:",disabled" }}">
            &nbsp;
            </div>
            <div class="kegtype">
                {{ keg.kegtype }}
                <br />
                {{ keg.get_kegstatus_display }}
            </div>
        </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock data %}
