{% extends "dashboard.html" %}

{% block data %}
{% include "_messages.html" %}
<a href="{% url 'keg:create' %}"
            class="btn btn-lg btn-default">Add a Keg</a>
<div class="container-fluid">
    <div class="row">
        {% for keg in object_list %}
        <div class="col-lg-3" >
            <div class="keg {{ keg.kegstatus|lower }}"> 
            <span class="tapcircle">
                <a href="{% url 'keg:detail' keg.id %}" >
                    {{ keg.label }}
                </a>
            </span>
            <div class="{{ keg.active|yesno:",disabled" }}">
            &nbsp;
            </div>
            <div class="kegtype">
                <a href="{% url 'keg:detail' keg.id %}" >
                    {{ keg.kegtype }}
                </a>
            </div>
            {{ keg.get_kegstatus_display }}
        </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock data %}
