        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'home' %}">Tap Screen</a></li>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'beer:list' %}">My Beers</a></li>
            <li><a href="{% url 'keg:list' %}">My Kegs</a></li>
            <li><a href="{% url 'tap:list' %}">My Taps</a></li>
          </ul>

          <ul class="nav nav-sidebar">
              {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}">Log out</a></li>
              <li><a href="{% url 'register' %}">Add a user</a></li>
              {% else %}
              <li><a href="{% url 'login' %}">Log in</a></li>
              {% endif %}
        </div>
