<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <title>{% block title %}PyPints{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% block content %}

{% block navbar %}
    {% include "_navbar.html" %}
{% endblock %}


<div class="container-fluid dashboard">
    <div class="row">
        {% block sidebar %}
            {% include "_sidebar.html" %}
        {% endblock %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% block data %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>

                <h3>Welcome to the PyPints digital tap list dashboard.  Here you can manage your beers, kegs and taps. </h3>
                {% if user.is_authenticated %}
                In order to put a beer on tap, you must select an available keg, which is one marked <em>Clean, Primary, Secondary, Tertiary, Dry Hopping</em>, or <em>Conditioning</em>.
                {% else %}
                But first, you have to Log in, at the left.
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3>You have {{ allkegs }} kegs:</h3>
                <ul class="list-group">
                    {% for code, value in kegstats.items %}
                        <li class="list-group-item kegstatus"> {{ code }} <span class="badge"> {{ value }}</span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endblock data %}
        </div>
    </div>
</div>

{% endblock content%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block js %}{% endblock %}
  </body>
</html>

